@import "base";
@import "navbar";
@import "subpage";

iframe
{
  padding-top: 20%;
}

.textBlock
{
  margin-left: 5px;
  color: $body_text_color;

  font-size: large;
  font-family: Calibri, sans-serif;
}

#squadPhoto
{
  width: 60%;
  float: right;

  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

  margin: 20px;
}

#alumniPhoto
{
  width: 100%;

  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);

  margin-right: 20px;
  margin-top: 10px;
}

#recLetter
{
  //margin-right: 20px;
  padding-top: 15px;

  color: $body_text_color;
}

#letterFooter
{
  color: $nile_green;

  strong
  {
    font-weight: bold;
  }

  a
  {
    color: $nile_green;
    text-decoration: none;
  }

  a:hover
  {
    text-decoration: underline;
  }
}

#rushCalendar
{
  display: block;
  margin: auto;
}