/*
.exec_name
{
  font-size: large;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.exec_title
{
  font-size: medium;
  color: white;
  padding-left: 2px;
}

.exec_link
{
  a
  {
    font-size: medium;
    color: white;
    text-decoration: none;
  }

  a:hover
  {
    color: gold;
  }
}
*/
.execEmail {
  color: white;
  text-decoration: none; }

.execEmail:hover {
  color: gold; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: .25% .25%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #005B3C;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding-left: .75em;
  color: #fff;
  text-transform: uppercase;
  font-family: Calibri;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 700;
  text-shadow: none; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*---------------*/
/***** Sarah *****/
/*---------------*/
figure.effect-sarah {
  background: #42b078; }

figure.effect-sarah img {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.effect-sarah:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-sarah figcaption {
  text-align: left; }

figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0; }

figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-sarah p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#execHeading {
  color: #005B3C;
  font-size: x-large;
  width: 100%;
  text-align: center;
  margin-top: 25px; }

.icon {
  fill: #005B3C; }

.contactBlock {
  border-left: 1px solid #38546d;
  height: 60px;
  position: relative;
  width: auto; }
  .contactBlock a {
    color: rgba(1, 22, 22, 0.8);
    text-decoration: none;
    position: absolute;
    top: 25px;
    transform: translateY(-50%); }
  .contactBlock a:hover {
    text-decoration: underline;
    color: #005B3C; }

/*# sourceMappingURL=contact.css.map */
